<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin_page.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="nav_bar">
                <div class="logo">
                    <a class="logo_link" href="/admin">
                        <span>ADMIN</span>
                    </a>
                </div>
                <div class="middle_nav">
                    <div class="main_menu">
                        <ul class="menu_list">
                            <li class="home_menu"><a style="color: #fc0254;" href="/display-alluser">User</a></li>
                            <li class="home_menu"><a href="/display-allalbum">Album</a></li>
                            <li class="home_menu"><a href="/display-allsong">Song</a></li>
                            <li class="home_menu"><a href="#">Artist</a></li>
                            <li class="home_menu"><a href="#">Favourite</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_nav">
                    <div class="help">
                        <a href="#">
                            <span style="color: #9b9b9be7;">Help</span>
                        </a>
                    </div>
                    <div class="divider">
                        <a style="cursor: context-menu;" href="#">|</a>
                    </div>
                    <div class="sign_up">
                        <a href="/home">
                            <span style="color: #fc0254;">Return to Homepage</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="display-song-section display-album-section display-user-section">
        <div class="container_display">
            <div class="title_content">
                <div class="title_section">
                    <h1>User Management</h1>
                </div>
                <div class="create_new">
                    <a class="link_create" href="#"> Create New User</a>
                </div>
            </div>
            <table border="1" cellspacing="0" cellpadding="10">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                <% dataTable.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.password %>
                        </td>
                        <td>
                            <%= user.status %>
                        </td>
                        <td>
                            <a class="action_but" href="/edit-user?id=<%= user.id %>">Edit</a> 
                            <a class="action_but" href="/delete-user?id=<%= user.id %>"
                                onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
    </section>
</body>

</html>