<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Profile</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="nav_bar">
                <div class="logo">
                    <a class="logo_link" href="/home">
                        <span>GEN</span>MUSIC
                    </a>
                </div>
                <div class="middle_nav">
                    <div class="main_menu">
                        <ul class="menu_list">
                            <li><a class="home_menu" href="/home">Home</a></li>
                            <li><a class="home_menu" href="#">About</a></li>
                            <li><a class="home_menu" href="/profile">Library</a></li>
                            <li class="menu_item has-dropdown">Pages
                                <ul class="dropdown">
                                    <li class="item_drop"><a class="link_drop" href="#">Profile</a></li>
                                    <li class="item_drop"><a class="link_drop" href="#">Artists</a></li>
                                    <li class="item_drop"><a class="link_drop" href="#">Privacy policy</a></li>
                                    <li class="item_drop"><a class="link_drop" href="#">Admin</a></li>
                                </ul>
                            </li>
                            <li><a class="home_menu" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_nav">
                    <div class="help">
                        <a href="#">
                            <span style="color: #9b9b9be7;">Help</span>
                        </a>
                    </div>
                    <div class="divider">
                        <a style="cursor: context-menu;" href="#">|</a>
                    </div>
                    <% if (user) { %>
                        <div class="login">
                            <a href="/logout">
                                <span>Logout</span>
                            </a>
                        </div>
                        <div class="sign_up">
                            <a href="/profile">
                                <span style="color: #fc0254;">
                                    <%= user.username ? user.username : (user.email || 'Profile' ) %>
                                </span>
                            </a>
                        </div>
                        <% } else { %>
                            <div class="login">
                                <a href="/login">
                                    <span>Login</span>
                                </a>
                            </div>
                            <div class="sign_up">
                                <a href="/create-account">
                                    <span style="color: #fc0254;">Create an account</span>
                                </a>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
    </header>

    <section class="main_content">
        <div class="title_playlists">
            <div class="title">
                <span>My Playlists</span>
            </div>
        </div>
        <div class="playlists_content">
            <% if (favoriteAlbums && favoriteAlbums.length> 0) { %>
                <% favoriteAlbums.forEach(function(album) { %>
                    <div class="playlist_card">
                        <a href="/detail-album?id=<%= album.id %>">
                            <img class="playlist_card" style="width:188px;height:276px"
                                src="/uploads/albums/<%= album.img %>" alt="<%= album.title %>">
                            <span class="card_play_btn"><i class="ti ti-player-play"></i></span>
                        </a>
                        <div class="playlist_label">
                            <a style="color: black;" href="/detail-album?id=<%= album.id %>">
                                <%= album.title %>
                            </a>
                        </div>
                        <form method="POST" action="/album/favorite/remove">
                            <input type="hidden" name="albumId" value="<%= album.id %>">
                            <button class="card_like_btn active" type="submit">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>

                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="no_items">You have no favorite albums yet.</div>
                            <% } %>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_left">
                <div class="footer_logo">
                    <span style="color:#fc0254;font-weight:700;">GEN</span>MUSIC
                </div>
                <div class="footer_copyright">
                    COPYRIGHT ©2025 ALL RIGHTS RESERVED | THIS TEMPLATE IS MADE WITH <span style="color:#fff;">♡</span>
                    BY
                    <a href="#" style="color:#2196f3;text-decoration:none;">MANHCUONG</a>
                </div>
                <div class="footer_social">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer_menus">
                <div class="footer_menu">
                    <div class="footer_menu_title">ABOUT US</div>
                    <a href="#">Our Story</a>
                    <a href="#">Sol Music Blog</a>
                    <a href="#">History</a>
                </div>
                <div class="footer_menu">
                    <div class="footer_menu_title">PRODUCTS</div>
                    <a href="#">Music</a>
                    <a href="#">Subscription</a>
                    <a href="#">Custom Music</a>
                    <a href="#">Footage</a>
                </div>
                <div class="footer_menu">
                    <div class="footer_menu_title">PLAYLISTS</div>
                    <a href="#">Newsletter</a>
                    <a href="#">Careers</a>
                    <a href="#">Press</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>